################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EchoBot
/LCNUG_0217/ReportBot
/LCNUG_0217/.vs
/LCNUG_0217/BotBuilderLocation/bin
/LCNUG_0217/BotBuilderLocation/obj
/LCNUG_0217/TacoBot/bin
/LCNUG_0217/TacoBot/Content
/LCNUG_0217/TacoBot/obj/Debug
/LCNUG_0217/TacoBot/Scripts
/LCNUG_0217/TacoBot/Web.Release.config
/LCNUG_0217/TacoBot/Web.Debug.config
/LCNUG_0217/TacoBot/TacoBot.csproj.user
/LCNUG_0217/EchoBot/obj
/LCNUG_0217/EchoBot/bin
/LCNUG_0217/EchoBot/Properties/PublishProfiles
/LCNUG_0217/EchoBot/EchoBot.csproj.user
/LCNUG_0217/EchoBot/Web.Release.config
/LCNUG_0217/EchoBot/Web.Debug.config
/LCNUG_0217/packages
